body {
    background-color: #222;
    text-decoration: none;
    color: #dedede;
    font-family: sans-serif
}

a {
    color: inherit;
    text-decoration: inherit
}

.title {
    font-size: 1.07em
}

.preview {
    width: 64px;
    height: 64px;
    padding: 0 8px
}

.cell {
    display: table-cell;
    vertical-align: middle
}

.score {
    width: 32px;
    text-align: right
}

.post_details {
    color: #999;
    font-size: 0.7em
}

.username {
    color: #dedede
}

.community {
    color: #00bc8c
}